{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' 'jquery.collection.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('event_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    {#<script src="{{ asset('js/jquery.js') }}"></script>#}
    <script src="{{ asset('js/jquery.collection.js') }}"></script>

    <script type="text/javascript">
        $('.my-selector').collection();
    </script>
{% endblock %}
