{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <h1>Create new Event</h1>

    {{ include('event/_form.html.twig') }}

    <a href="{{ path('event_index') }}">back to list</a>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        // setup an "add a tag" link
        const addUserLink = $('<a href="#" class="add_equipment_link">Add user</a>');
        const newLinkDiv = $('<div></div>').append(addUserLink);

        jQuery(document).ready(function() {
            let collectionHolder;

            // Get the ul that holds the collection of tags
            collectionHolder = $('#{{ form.users.vars.id }}');

            // add the "add a tag" anchor and li to the tags ul
            collectionHolder.append(newLinkDiv);

            // count the current form inputs we have (e.g. 2), use that as the new
            // index when inserting a new item (e.g. 2)
            collectionHolder.data('index', collectionHolder.find(':input').length);

            addUserLink.on('click', function(e) {
                // prevent the link from creating a "#" on the URL
                e.preventDefault();

                // add a new tag form (see next code block)
                addUserForm(collectionHolder, newLinkDiv);
            });
        });
        function addUserForm(collectionHolder, newLinkDiv) {
            // Get the data-prototype explained earlier
            let prototype = collectionHolder.data('prototype');

            // get the new index
            let index = collectionHolder.data('index');

            let newForm = prototype;
            // You need this only if you didn't set 'label' => false in your tags field in TaskType
            // Replace '__name__label__' in the prototype's HTML to
            // instead be a number based on how many items we have
            // newForm = newForm.replace(/__name__label__/g, index);

            // Replace '__name__' in the prototype's HTML to
            // instead be a number based on how many items we have
            newForm = newForm.replace(/__name__/g, index);

            // increase the index with one for the next item
            collectionHolder.data('index', index + 1);

            // Display the form in the page in an li, before the "Add a tag" link li
            let newFormDiv = $('<div></div>').append(newForm);
            newLinkDiv.before(newFormDiv);
        }
    </script>
{% endblock %}
